.prof-approach {
    display: flex;
    width: 100%;
    height: 562px;
    background-blend-mode: multiply;
    background-image: url("../images/image_prof_approach.jpg");
    background-color:#323248;
    margin-top: 20px;
}
.prof-approach__block {
    display: flex;
    padding: 100px 0 0 80px;
    flex-wrap: wrap;
    gap: 52px;
}
@media (max-width: 1100px) {
    .input_wrapper {
        display: none;
    }
}
.prof-approach__par {
    /*padding: 100px;*/
    max-width: 600px;
    max-height: 250px;

}
.prof-approach__par__h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #EF7F04;
}
.prof-approach__par__p {
    font-weight: 100;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 511px;
}
.prof-approach__descript {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /*margin-left: 100px;*/
    margin-bottom: 50px;
    max-width: 680px;
    max-height: 200px;
}
.prof-approach__item {
    max-width: 176px;
    width: 100%;
}
.prof-approach__img {
    width: 80px;
    height: 80px;
    padding: 10px;
}
.prof-approach__text {
    color: #FFFFFF;
    font-size: 14px;
    padding-left: 20px;
    font-weight: 400;
    line-height: 18px;
}
.input_wrapper {
    padding: 43px;
    border-radius: 5px;
    max-width: 406px;
    max-height: 400px;
    background-color: #FFFFFF;
    position: relative;
}
.input_wrapper_zamer {
    color: #2F2F51;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    vertical-align: center;
}
input::placeholder {
    font-size: 14px;
}
.prof-approach__form form {
    position: relative;
}
.input_wrapper__text {
    margin: 15px 0;
}
.input_wrapper__text input {
    width: 323px;
    height: 40px;
    border-radius: 3px;
    background-color: #E2E2E2;
    padding: 10px 20px;
}
.input-checkbox {
    display: none;
}
.input-checkbox__label {
    padding-top: 5px;
    font-size: 12px;
    line-height: 14px;
    padding-left: 35px;
    display: block;
}
.input-checkbox__label:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #e2e2e2;
    left: 0;
}
.input-checkbox:checked + .input-checkbox__label:before {
    background-image: url("../images/Vector.svg");
    background-position: right top;
    background-repeat: no-repeat;
}
.wrapper {
    color: #FFFFFF;
    background-color: #EF7F04;
    width: 199px;
    height: 55px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 3px;
}
.input_wrapper:after {
    content: '';
    position: absolute;
    background-image: url("../images/wrapper.png");
    left: -86px;
    bottom: -10px;
    height: 92px;
    width: 530px;

}
/*.prof-approach {*/
/*
/*    background-image: url("./images/image_prof_approach.jpg");*/
/*    background-blend-mode: multiply;*/
/*    background-position: top;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
    /*background-image: #323248;*/

